.game-player {
  width: 15rem;
  height: 15rem;
  background-image: url(../../../assets/icons/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  border: 10px solid var(--color-gray);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-gray);
  transition: transform 0.3s;
}

.game-player:hover {
  transform: scale(1.05);
}
