.pageControls {
  grid-area: pageControls;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 2rem;;
}

.pageControls p {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-fourth-text);
}

.prev-arrow,
.next-arrow {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.prev-arrow {
  background-image: url(../../assets/icons/prev-arrow.svg);
}

.next-arrow {
  background-image: url(../../assets/icons/next-arrow.svg);
}
  