.exit-btn {
  position: absolute;
  top: 15rem;
  right: 15rem;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  background-image: url(../../../assets/icons/exit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
}

.exit-btn:hover {
  transform: scale(1.05);
}
