.hamburger {
  position: fixed;
  left: 3rem;
  top: 1.5rem;
  width: 5rem;
  height: 3rem;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.hamburger div {
  position: relative;
  width: 3.5rem;
  height: 0.4rem;
  border-radius: 10px;
  background: var(--color-button);
  transition: all 0.3s linear;
  transform-origin: 0.3rem;
}

.hamburger.open div {
  left: 15rem;
}

.hamburger.open .hamburger-first {
  transform: rotate(45deg);
}

.hamburger.open .hamburger-second {
  opacity: 0;
  transform: translateX(2rem);
}

.hamburger.open .hamburger-third {
  transform: rotate(-45deg);
}
