.finish-btn {
  width: 10rem;
  height: 3.5rem;
  margin-top: 3rem;
  border: 1px solid;
  border-radius: 0.2rem;
  background-color: transparent;
  background-image: url(../../../assets/icons/in-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.finish-btn:hover {
  background-color: #88c3f7;
}
