.prompt-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50rem;
  background-image: url(../../assets/images/prompt-section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.prompt-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  font-size: 3rem;
  font-weight: 500;
  background-image: url(../../assets/images/prompt-section-illustration.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.prompt-text-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.prompt-link {
  align-self: flex-end;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-second-text);
  border: 1px solid var(--color-line);
  background: var(--color-button);
  border-radius: 0.4rem;
}

.prompt-link:hover {
  background: transparent;
  color: var(--color-third-text);
}
