.game {
  background-color: var(--color-audiochallenge-bg);
}

.game ~ footer {
  background-color: var(--color-audiochallenge-bg);
}

.game ~ footer * {
  display: none;
}

.game .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-start {
  border: 1px solid red;
}