.game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.game .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid blue;
}

.game-start {
  border: 1px solid red;
}