:root {
  --color-main-text: #1e212c;
  --color-second-text: #ffffff;
  --color-third-text: #FF3F3A;
  --color-line: #FF3F3A;
  --color-footer-bg: #1e212c;
  --color-footer-text: #ffffff;
  --color-team-block: #ffcf2d;
  --color-button: linear-gradient(55deg, #FF3F3A 0%, #F75E05 100%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 2rem;
}
