:root {
  --color-main-text: #1e212c;
  --color-second-text: #ffffff;
  --color-third-text: #ff3f3a;
  --color-fourth-text: #424551;
  --color-line: #ff3f3a;
  --color-gray: #d7dadd;
  --color-games-bg: #ebedf0;
  --color-audiochallenge-bg: #9bcbf5;
  --color-sprint-bg: #cfd4ff;
  --color-about-bg: #ebedf0;
  --color-footer-bg: #1e212c;
  --color-footer-text: #ffffff;
  --color-team-block: #fff8e0;
  --color-hard: #f77272;
  --color-learned: #6fc264;
  --color-button: linear-gradient(55deg, #ff3f3a 0%, #f75e05 100%);
  --color-error: #f77272;
  --color-correct: #6fc264;
  --color: #808080;
}

* { box-sizing: border-box; }

li { list-style: none; }

ul { margin: 0; }

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 2rem;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
