.book {
  display: grid;
  grid-template-areas:
    "listCharters pageControls"
    "listCharters listWords"
    "listCharters listWords";
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem 1fr;
  width: 80%;
  height: 100%;
}

.listCharters {
  grid-area: listCharters;
  overflow-y: scroll;
  border-right: 1px solid var(--color-line);
}

.listCharters::-webkit-scrollbar {
  width: 0;
}

.charter {
  font-size: 5rem;
  font-weight: 100;
  padding-top: 1rem;
  color: var(--color-fourth-text);
  border-bottom: 1px solid var(--color-line);
  cursor: pointer;
}

.pageControls {
  grid-area: pageControls;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 2rem;;
}

.pageControls p {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-fourth-text);
}

.prev-arrow,
.next-arrow {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.prev-arrow {
  background-image: url(../../assets/icons/prev-arrow.svg);
}

.next-arrow {
  background-image: url(../../assets/icons/next-arrow.svg);
}

.listWords {
  grid-area: listWords;
  padding: 1rem 2rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.listWords::-webkit-scrollbar {
  width: 0;
}

.listWords li {
  width: 80%;
  height: 20rem;
  margin-bottom: 1rem;
  background-color: rgba(208, 240, 228, 0.3);
}
